.DS_Store
.idea
*.ai
*.log
*.pdf
*.psd
*.sublime*
Thumbs.db
vendor
uploads/*
!uploads/.gitkeep
pages/
uploads/
photos/
avatars/

capturedmdb/

composer.phar

mainbred.css

mdbavesome/

definitions/connection_config.php


