<?php
    /**
     *  Для настройки подключения используется connection_config.php
     /**
    define('CONNECTION_CONFIG', [
        'host' => 'localhost',
        'user' => 'root',
        'password' => '',
        'database' => 'captured'
    ]);
