.body {
    font-family: "Arial", sans-serif;
}

.fab {
    min-width: 53px;
    min-height: 53px;
    border-radius: 50%;
}

.fab i {
    color: grey;
}

.filters__button--active i {
    color: hsla(255, 100%, 100%, 0.9);
}

.filters__button--active {
    background-color: hsl(216, 100%, 55%);
}

.filters__button--active svg {
    fill: hsla(255, 100%, 100%, 0.9);
    stroke: hsla(255, 100%, 100%, 0.9);
    color: hsla(255, 100%, 100%, 0.9);
}

.filters__button span {
    display: block;
    padding: 2px 0;
    min-width: 52px;
}

.filters__button--active span {
    color: white;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.dropdown-menu {
    min-width: 6.5rem !important;
}

.messages__contacts-tab.active * {
    color: white;
    background-color: navy;
}

.pseudo-table {
    border: 1px solid rgba(211, 211, 211, 0.3);
}

@media (max-width: 576px) {
    .six-buttons span {
        display: none;
    }
}